<div class="row justify-content-center">
    <div class="col-6 mr-2 rounded my-5 bg-core">
        <div class="seperator mb-4"></div>
        <h3 class="center header mt-4">Manage User</h3>
        <p class="center">Managing ({{manageUser.username}})</p>
        <div class="seperator my-4"></div>
        <h5 class="center header mt-4">User Information</h5>
        <form class="form-style" action="/admin/manage/user/update/{{manageUser._id}}" method="POST">
            <div class="row justify-content-center mt-3">
                <div class="col-3 mr-2 rounded">
                    <div id="role-data" class="center">
                        <p class="mb-2">Roles:</p>
                        {{#ifCond manageUser.superuser '==' true}}
                            <input type="checkbox" id="superuser" name="superuser" class="va-m f-left" checked/>
                            <label for="superuser" class="fs-14 f-left ml-2">Superuser</label><br/>
                        {{else}}
                            <input type="checkbox" id="superuser" name="superuser" class="va-m f-left"/>
                            <label for="superuser" class="fs-14 f-left ml-2">Superuser</label><br/>
                        {{/ifCond}}

                        {{#ifCond manageUser.admin '==' true}}
                            <input type="checkbox" id="admin" name="admin" class="va-m f-left" checked/>
                            <label for="admin" class="fs-14 f-left ml-2">Admin</label><br/>
                        {{else}}
                            <input type="checkbox" id="admin" name="admin" class="va-m f-left"/>
                            <label for="admin" class="fs-14 f-left ml-2">Admin</label><br/>
                        {{/ifCond}}

                        {{#ifCond manageUser.event_manager '==' true}}
                            <input type="checkbox" id="event_manager" name="event_manager" class="va-m f-left" checked/>
                            <label for="event_manager" class="fs-14 f-left ml-2">Event Manager</label>
                        {{else}}
                            <input type="checkbox" id="event_manager" name="event_manager" class="va-m f-left"/>
                            <label for="event_manager" class="fs-14 f-left ml-2">Event Manager</label>
                        {{/ifCond}}

                        <input type="submit" id="save_user" name="save_user" class="text-colour mt-5" value="Save User">
                    </div>
                </div>
            </div>
        </form>
        <div class="seperator mb-4"></div>
        <h5 class="center header">Level Data</h5>
        <div id="level-data" class="mb-5"></div>
        <div class="seperator"></div>
    </div>
</div>
<script id="toRemove">
    let uid = '{{manageUser.discordId}}';
</script>