<link rel="stylesheet" href="/css/modal.css"/>
<div class="row justify-content-center mt-5">
    <div class="col-6 my-5 mx-2 bg-core">
        <h3 class="center header mt-4">Add Role Reward</h3>
        <p class="error center mt-2" id="role-create-error"></p>
        <form id="add-role-form" name="add-role-form" class="mt-4 form-style">
            <div class="seperator my-4"></div>
            <div class="form-group">
                <p class="center">Level To Reward At</label>
                <input type="number" id="level" name="level" class="my-3 text-colour" min="1" value="1"/>
            </div>
            <div class="seperator my-4"></div>
            <div class="form-group">
                <p class="center">Choose the role you wish to reward:</p>
                <select id="role_selection" name="role_selection" class="mt-3 text-colour center" style="height: 55px;" form="add-role-form">
                    <option disabled="" selected="true">Please Select a Role</option>
                    {{#each roles}}
                        <option value="{{this.id}}">{{this.name}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="seperator my-4"></div>
            <div class="form-group">
                <input type="submit" id="create-role-reward" class="mt-1 text-colour" value="Add Level Reward"/>
            </div>
        </form>
    </div>
</div>

<div id="rewards">
    {{#if rewards}}
        {{#each rewards}}
            <div class="row justify-content-center" id="reward-{{this._id}}">
                <div class="col-6 mr-2 mb-4 bg-core">
                    <h3 id="role-name-{{this._id}}" class="center mt-4">{{this.role_name}}</h3>
                    <p class="mt-4 center">Unlocked at Level: {{this.level}}</p>
                    <p class="mt-2 center">Role ID: {{this.role_id}}</p>
                    <a data-roleId="{{this._id}}" class="green-btn mt-4 mt-2 conf-delete-trigger">Delete Reward</a>
                </div>
            </div>
        {{/each}}
    {{/if}}
</div>

<div class="modal" id="confDeleteModal">
    <div class="modal-content-small">
        <div class="modal-header bg-core text-colour">
            <span class="close">&times;</span>
            <h2>Delete Role Reward</h2>
        </div>
        <div class="modal-body">
            <p id="delete-reward-text">Are you sure you want to delete the reward of</p>
        </div>
        <div class="modal-footer bg-core text-colour">
            <button id="reward-delete-conf" data-roleId="" class="btn btn-core p-2 mt-2" style="cursor: pointer;">Confirm</button>
            <a class="btn btn-core p-2 mt-2 close-btn" style="float: right;">Close</a>
        </div>
    </div>
</div>

<script src="/js/admin/manage_rewards.js"></script>