<link rel="stylesheet" href="/css/modal.css"/>

<div class="row justify-content-center">
    <div class="col-6 mr-2 rounded my-5 bg-core">
        <h3 class="center header mt-4">Add Moderator Role</h3>
        <p class="error center mt-2" id="role-create-error"></p>
        <form action="/admin/add/mod/role" method="POST" id="add-role-form" name="add-role-form" class="mt-4 form-style">
            <div class="seperator my-4"></div>
            <p class="center">Moderation Level</p>
            <select id="mod_level" name="mod_level" class="mt-3 text-colour" form="add-role-form">
                <option value="mod">Moderator</option>
                <option value="admin">Administrator</option>
                <option value="co-o">Co-Owner</option>
            </select>
            <div class="seperator my-4"></div>
            <p class="center">Choose the role you wish to add as a mod role:</p>
            <select id="role_selection" name="role_selection" class="mt-3 text-colour" form="add-role-form">
                <option disabled="" selected="true">Please Select a Role</option>
                {{#each roles}}
                    <option value="{{this.id}}">{{this.name}}</option>
                {{/each}}
            </select>
            <div class="seperator my-4"></div>
            <input type="submit" id="create-mod-role" class="btn-green p-3 mt-1 text-colour" value="Add Moderation Role"/>
        </form>
    </div>
</div>

{{#if modRoles}}
    {{#each modRoles}}
        <div class="row justify-content-center" id="mod-role-{{this._id}}">
            <div class="col-6 mr-2 mb-4 bg-core">
                <h3 id="role-name-{{this._id}}" class="center mt-4">{{this.role_name}}</h3>
                <p class="mt-4 center">Moderation Level: {{levelToText this.level}}</p>
                <p class="mt-2 center">Role ID: {{this.role_id}}</p>
                <a data-roleId="{{this._id}}" class="green-btn mt-4 mt-2 conf-delete-trigger">Delete Role</a>
            </div>
        </div>
    {{/each}}
{{/if}}

<div class="modal" id="confDeleteModal">
    <div class="modal-content-small">
        <div class="modal-header bg-core text-colour">
            <span class="close">&times;</span>
            <h2>Delete Mod Role</h2>
        </div>
        <div class="modal-body">
            <p id="delete-reward-text">Are you sure you want to delete the mod role of</p>
        </div>
        <div class="modal-footer bg-core text-colour">
            <button data-roleId="" id="role-delete-conf" class="btn btn-core p-2 mt-2" style="cursor: pointer;">Confirm</button>
            <a class="btn btn-core p-2 mt-2 close-btn" style="float: right;">Close</a>
        </div>
    </div>
</div>

<script src="/js/admin/manage_mod_roles.js"></script>